*, *:after, *:before {
    box-sizing: border-box;
}
// Fonts
@import url('https://fonts.googleapis.com/css?family=Acme|Niramit:400,700|Passion+One');

// Parallax
#content {
    perspective: 1px;
    perspective-origin: 0 0;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
.parallax {
    transform-origin: 0 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
}

// Main part
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#section-1 {
    align-items: center;
    justify-content: center;
    background-image: url(img/lending-1.jpg);
    position: relative;
    height: 100vh;
}

#section-2 {
    background-color: white;
    box-shadow: 0 -2px 20px 0px rgba(0, 0, 0, 0.3);
}

#section-3 {
    align-items: center;
    justify-content: center;
    background-image: url(img/lending-1.jpg);
    position: relative;
    height: 30vh;
    background-attachment: fixed;
}

.title {
    width: 30rem;
    z-index: 10;
}

.cover {
    background: rgba(0, 0, 0, 0.4);
    background-size: 100% 100%;
    display: block;
    transition: all 0.5s;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
}

// Tabs
h1 {
    padding: 4rem 0;
    font-family: 'Acme', sans-serif;
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
}

.active {
    text-decoration: underline;
}

.tabs-navigation {
    display: flex;
    flex-direction: row;
    background-color: #a3080c;
    justify-content: center;
    font-family: 'Passion One', Helvetica, cursive;
    font-size: 1.5rem;
    color: white;
}

.tab-title {
    padding: 1rem;
    transition: 0.3s;
    cursor: pointer;
}

.tab-title:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.tabs-content {
    max-width: 64rem;
    margin: 0 auto;
}

#about-tab {
    text-align: center;
    padding-bottom: 4rem;
    .about-us {
        display: flex;
        flex-flow: row wrap;
    }
    .about-us-description {
        flex: 0 0 auto;
        width: 33.333333%;
        padding: 0 1rem;
        font-family: 'Niramit', sans-serif;
        h2 {
            font-size: 1.7rem;
            font-weight: bold;
            padding: 0.5rem 0 1rem;
        }
        p {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }
        &:hover {
            .about-us-icon {
                width: 3.5rem;
            }
        }
    }
    .about-us-icon {
        width: 3rem;
        transition: all 0.3s;
    }
}

#menu-tab {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Passion One', Helvetica, cursive;
    padding-bottom: 4rem;
    .product {
        flex-basis: 33.33333%;
        padding: 0 1rem 1rem;
        cursor: pointer;
        &:hover {
            .product-image {
                background-size: 110%;
            }
        }
    }
    .product-image {
        background-size: cover;
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 30vh;
        transition: all 0.4s ease;
    }
    .product-name {
        color: white;
        background-color: #ffae16;
        text-transform: uppercase;
        font-size: 2rem;
        text-align: center;
        padding: 1rem;
    }
}

#chefburger {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_1014_1356046999.jpg);
}

#darkryeburger {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_844_1408373195.jpg)
}

#cheeseburger {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_712_1466080456.jpg)
}

#boxmasteroriginal {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_482_1414377064.jpg)
}

#twisteroriginal {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_459_84294897.jpg)
}

#hot-dog {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_267_762441408.jpg)
}

#hotwingsbucket-25 {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_111_1224802133.jpg)
}

#teriyakibites {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_638_403691422.jpg)
}

#lunchbox-5-300 {
    background-image: url(https://statickfc.cdnvideo.ru/products/400/product_1046_710198914.png)
}

#find-us {
    padding-bottom: 4rem;
    text-align: center;
}

#restaurants-map {
    width: 100%;
    height: 37.5rem;
}